body
{
	overflow: auto;
}
.carddemoInCardActions{
	overflow: auto;
}
.carddemoInCardActions .md-card-image {
	width: 50px;
	height: 50px;
}
md-card {
	background-color: #ecb5f2;
	height: 400px;
	overflow: auto;
}
.carddemoInCardActions .md-padding {
    background-color: rgb(250,250,250);
}
h1 {
	text-align: center;
}
span.md-headline.ng-binding{
    margin-top: 8px;
}