<html>
<head>
    <title>XIN CHÀO</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="https://fonts.googleapis.com.css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css"  href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.0.5/docs.css"/>
</head>
<body>
<div ng-controller="AppCtrl" class="carddemoInCardActions" ng-app="MyApp">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="100">
    <h1>BLOG</h1>
      <md-card ng-repeat="x in names">
        <md-card-header>
          <md-card-avatar>
            <img ng-src="{{imageDog}}" class="md-card-image" alt="1">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Trần Nhung</span>
            <span class="md-subhead"> Date: {{x.date}}</span>
          </md-card-header-text>
        </md-card-header>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> {{x.title}} </span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content  layout-padding>
          <p>
            {{x.contents}}
          </p>
        </md-card-content>
        <md-card-actions class="action" layout="row" layout-align="start center">
          <md-card-icon-actions class="icon-action">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button>Edit</md-button>
          <md-button>Delete</md-button>
        </md-card-actions>
      </md-card>
     </div>
  </md-content>
</div>
    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.js"></script>
    <script language="JavaScript" src="scripts/app.js"></script>
</body>
</html>
